.mery{
    display: flex;
    justify-content: center;
}
.button1:hover{
    border-style: double;
    border-color: red;
    border: 5px double red;
}
.button2:hover{
    border-style: double;
    border-color: red; 
    border: 5px double red;
}
